name: Lint Code Base

on:
  push:
  pull_request:
    branches: [main]

jobs:
  build:
    name: Lint Code Base
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: true
          
      - uses: actions/setup-python@v4
        with: 
          python-wersion: 3
      - run: python -m pip install ruff mypy
      - run: ruff test.py
      - run: mypy test.py
