name: Lint Code Base


on:
  #push:
  #pull_request:
  workflow_dispatch:

jobs:
  
  build:
    name: Lint Code Base
    runs-on: self-hosted
  

    steps:
      #- name: Giving Access
      #  run: sudo chmod -Rf ugo+rwx ~/actions-runner/_work/actions/actions
        
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: true
        
          
      - name: Lint Code Base
        uses: super-linter/super-linter@v5
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
#       - uses: actions/setup-python@v4
#         with: 
#           python-version: 3.x
#         env:
#           AGENT_TOOLSDIRECTORY: /opt/hostedtoolcache
#       - run: python -m pip install ruff mypy
#       - run: ruff test.py
#       - run: mypy test.py
        
